body {
    font-family: 'Georgia', sans-serif;
    background-color: #eef8f7;
    color: #000000;
    margin: 1;
    padding: 15px;
}

h1 {
    font-family: 'Lobster', sans-serif;
    color: #465183;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}